.Button { 
    background: #375C3A;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #375C3A;
    border-radius: 44px;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: border .125s ease, background .125s ease;
    transition: border .125s ease, 
                background .125s ease, 
                filter .2s ease-in-out,
                box-shadow .12s ease-in;
  }
  .Button:hover {
    box-shadow: .2px 2px 15px rgba(0, 0, 0, 0.23);
  }
  .Button[data-primary='true'] {
    border: 2px solid #A8CF45;
    background: #A8CF45;
  }
  .Button[data-primary='true']:hover {
    color: #F5F5F5;
  }